.book{
    padding: 2rem 9%;
    margin: 1rem 0;
    .heading{
        text-align:center;
        
        span{     
            color:$main-color;     
            background-color: rgba(255, 165,0,.2);
            margin: 1rem .2rem;
            font-size: 3.5rem;
            padding:.2rem .5rem;
        }
        .space{
           background: none;
        }
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top:2rem;
        gap: 2rem;
        .imges{
            flex:1 1 40rem;
            img{
                width: 100%;

            }
        }
        .booking-form{
            flex:1 1 40rem;
            padding: 2rem;          
            box-shadow:0 1rem 2rem rgba(0,0,0,.3);
            border-radius: 12px;
            h3{
                color:#333;
                margin-bottom: 1rem;
                font-size: 2.5rem;
            }
            .box{               
                width: 100%;
                padding: 1rem;
                border-radius: 12px;
                border: 0.5px solid #333333;
                margin-bottom: 1rem;
            }
            .btn{
                padding: 1rem 4rem;
                color: #fff;
                font-weight: bolder;
                background-color: #ffa500;
                border-radius: 8px;
                margin: 1.5rem;
                cursor: pointer;
            }
        }
    }
}