@mixin navBar{
    display: flex;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    flex-flow: column;
    background: $bg-color;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       
}