.services{
    padding: 8rem 9%;
    .heading{
        text-align:center;
        margin: 5rem 1rem;
        span{     
            color:$main-color;     
            background-color: rgba(255, 165,0,.2);
            margin: 1rem .2rem;
            font-size: 3.5rem;
            padding:.2rem .5rem;
        }
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .box{
            border-radius: 12px;
            padding: 2rem;
            box-shadow: 0 1rem 1rem rgb(0 0 0 / 20%);
            flex: 1 1 30rem;
            text-align: center;
            &:hover{
                background-color: $main-color;
                color: #fff;
                .logo{
                    color: #fff;  
                }
            }
          .logo{
            font-size: 4rem;
            color: $main-color;
          }
            .title{
                font-size:2.5rem;
                margin: 1rem 0;
                font-weight: bold;
            }
            p{
                font-size: 1.8rem;
                color: #777;
                line-height: 1.6;
            }
        }
    }
}